body{
    margin: 0;
    padding: 0;
}


/* Container styles */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
    flex-direction: column;
}

h1{
    color: #999;
    font-family: sans-serif;
    /* border-bottom: 1px solid #999; */
}

.line{
    width: 120px;
    height: 2px;
    background-color: rgb(79, 243, 3);
    margin-top: -16px;
}

.inner{
    color: rgb(11, 211, 55);
}


/* style the app */

.todo_app{
    height: 450px;
    width: 350px;
    background-color: #333;
    margin-top: 3rem;
    box-shadow: 12px 12px 12px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.user_info{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}